In [2]:
!pip install kagglehub

import pandas as pd
import kagglehub

# Download dataset
path = kagglehub.dataset_download("federalreserve/interest-rates")

# Load CSV
df = pd.read_csv(f"{path}/index.csv")


# 3. Create a datetime column
df['date'] = pd.to_datetime(dict(year=df.Year, month=df.Month, day=df.Day))
df = df.sort_values("date").reset_index(drop=True)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kagglehub in /home/vscode/.local/lib/python3.12/site-packages (0.3.13)
Requirement already satisfied: packaging in /home/vscode/.local/lib/python3.12/site-packages (from kagglehub) (25.0)
Requirement already satisfied: pyyaml in /home/vscode/.local/lib/python3.12/site-packages (from kagglehub) (6.0.3)
Requirement already satisfied: requests in /home/vscode/.local/lib/python3.12/site-packages (from kagglehub) (2.32.5)
Requirement already satisfied: tqdm in /home/vscode/.local/lib/python3.12/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset_normalizer<4,>=2 in /home/vscode/.local/lib/python3.12/site-packages (from requests->kagglehub) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /home/vscode/.local/lib/python3.12/site-packages (from requests->kagglehub) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/vscode/.local/lib/python3.12/site-packages (from requests->kagglehub) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in /home/vscode/.local/lib/python3.12/site-packages (from requests->kagglehub) (2026.1.4)

/home/vscode/.local/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/federalreserve/interest-rates?dataset_version_number=1...

100%|██████████| 6.90k/6.90k [00:00<00:00, 12.8MB/s]

Extracting files...

In [4]:
df.head()

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate,date
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN,1954-07-01
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN,1954-08-01
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN,1954-09-01
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN,1954-10-01
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN,1954-11-01